body {
    font-family: 'Roboto', sans-serif;
    /* fallback for old browsers */
    background: #003973;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, #003973, #E5E5BE);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, #003973, #E5E5BE);
}

h1 {
    background: #2980E9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

span {
    background: #FF4343;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li {
	overflow-x: scroll;
    background: #FFF;
    height: 40px;
    line-height: 40px;
    color: #666;
}

li:nth-child(2n) {
    background: #F7F7F7;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}

span i:hover {
	font-size: 20px;
}

input {
    display: none;
    color: #2980E9;
    font-size: 18px;
    background: #F7F7F7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    border: 3px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input:focus {
    background: white;
    border: 3px solid #2980E9;
    outline: none;
}

#container {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
    width: 50vw;
    background: #F7F7F7;
    margin: 100px auto;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

h1 i {
    float: right;
}
